@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/************************************
font-family: 'Roboto', sans-serif;
font-family: 'Pacifico', cursive;
************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("../img/assets/background-01.jpg");
    font-family: 'Roboto', sans-serif;
    color: black;
}

header{
    z-index: 1;
}

.navbar{
    background-color: rgb(57,57,57);
}

/******* Base ********************************/

.navbar-brand{
    font-size: 2.5rem;
}

.nav-item a{
    font-size: 1.8rem;
}

main{
    min-height: 500px;
}

footer{
    background-color: rgb(89, 89, 89);
    min-height: 200px;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.je{
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
}


.response-message{
    margin: auto;
    background-color: azure;
}

/****** Home/Index ********************************/
.review-container{
    color: white;
}

.cards{
    margin: 2rem auto;
}

.card-tex{
    overflow: hidden;
}

.card-tile{
    margin-top: 10px;
    width: 300px;
    height: 500px;
}

.card-text{
    height: 170px;
    overflow: hidden;
}

.card-author,
.card-date{
    padding-left: 5px;
    padding-right: 5px;
}

.read-btn .btn{
    min-width: 120px;
    font-weight: 500;
    letter-spacing: 2px;
}

.card-body{
    padding: 10px;
}

.card .card-text-container{
    margin-bottom: 10px;
}

.paginatior .btn{
    font-size: 2rem;
}


/***** Game -Reviews- *******************************/
.title{
    font-size: 3rem;
}

.author-post{
    display: inline-block;
    margin-right: auto;
}

.game-cover{
    background-size: cover;
    background-position: center center;
    padding: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.game-title,
.game-info{
    background-color: rgba(174, 167, 167, .8);
    letter-spacing: 2px;
}

.game-title{
    height: 100%;
}

.titles{
    height: 100%;
}

.game-info{
    position: relative;
    bottom: 10px;

    min-height: 140px;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
}

.game-details{
    padding: 1rem;
    height: 100%;
    width: 100%;
}

legend .fas{
    margin-right: 5px;
    margin-left: 5px;
}

.fa-gamepad{
    width: 30px;
}

.rev-platform,
.game_rel_rev,
.rev_players{
    padding-left: 30px;
}

.points-container{
    float: right;
}

.score{
    font-size: 3rem;
}

.pegi-size{
    height: 100px;
}

.rate-container{
    padding-left: 5px;
    max-width: 100%;
    margin: 20px auto;
}

.pegi-description,
.pegi-rate,
.pegi-container .square-img,
.gallery .square-img{
    min-height: 100px;
    max-height: 140px;
    min-width: 100px;
    max-width: 140px;

    margin: 20px auto;
    
    display: inline-block;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.pegi3{
    background-image: url("../img/pegi/pegi3.png");
}

.pegi7{
    background-image: url("../img/pegi/pegi7.png");
}

.pegi12{
    background-image: url("../img/pegi/pegi12.png")
}

.pegi16{
    background-image: url("../img/pegi/pegi16.png")
}
.pegi18{
    background-image: url("../img/pegi/pegi18.png")
}

.square-img{
    height: 100px;
    width: 100px;
}

.pegi-violence{
    background-image: url("../img/pegi_description/violence.jpg");
}

.pegi-language{
    background-image: url("../img/pegi_description/bad_language.jpg");
}

.pegi-fear{
    background-image: url("../img/pegi_description/fear.jpg");
}

.pegi-gambling{
    background-image: url("../img/pegi_description/gambling.jpg")
}

.pegi-sex{
    background-image: url("../img/pegi_description/sexual_content.jpg");
}

.pegi-drugs{
    background-image: url("../img/pegi_description/drugs.jpg");
}

.pegi-discrimination{
    background-image: url("../img/pegi_description/discrimination.jpg");
}

.pegi-purchase{
    background-image: url("../img/pegi_description/in_game.jpg");
}

.gallery .square-img{
    height: 200px;
    width: 200px;
}

.pros-cons-row,
.game-review{
    padding: 3.5rem 10%;
    background-color: white;
    color: black;
}

.game-title-container,
.pros-cons-row,
.game-review,
.carousel,
.pegi-container{
    margin-bottom: 1rem;
    width: 100%;
}

/******* Reviews ******************************/
.game-players,
.game-release,
.game-platform{
    font-weight: 600;
}

/******************* New Post **************/
label .far,
label .fas,
p .fas{
    width: 20px;
    margin-right: 5px;
}

/*****Edit Post ***********************/
.gallery-label{
    font-weight: 600;
}

.gallery-label > u{
    font-weight: 100;
}

.fa-exclamation-triangle{
    color: rgb(214, 165, 28);
}

.icon-file{
    width: 50px;
    height: 30px;

    background-color: rgb(233,236,239);
    border: 1px solid rgb(206,212,218);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

    text-align: center;
    margin-right: 8px;
}

.fa-file-image{
    padding-top: 5px;
}

.icon-file i{
    vertical-align: text-bottom;
    width: 30px;
    height: 30px;
}

.prev-img{
    height: 30px;
    min-width: 100px;
    width: 220px;
    background-color: rgb(255,255,255);

    padding-left: 5px;
    padding-right: 5px;

    margin-right: 10px;

    vertical-align: sub;
    line-height: 30px;
    overflow: hidden;
}

.file-input{
    background-color: rgb(233,236,239);
    padding: 0 5px;
    margin-left: 10px;
    width: 100%;
}


.file-item-container{
    display: flex;
    justify-content: space-evenly;
}


.custome-input-file{
    display: flex;
    height: 40px;

    width: 100%;

    background-color: rgb(233,236,239);
    border: 1px solid rgb(206,212,218);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

    padding: 5px 2px;
    
    text-align: center;
}

/********* Form *************************/
.platforms-container,
.description-container{
    padding-left: 35px;
}

.post-heading{
    margin: 1rem auto;
}

.form{
    margin: 0 auto;

    border: white 1px solid;
    
    border-radius: 10px;
    background-color: rgb(241,244,247);
}

.fieldset{
    margin: 1rem auto;
    width: 100%;
}

.send-botton{
    margin: 2rem auto;
}

.spacer{
    height: 150px;
}

/********** Forms Post *************************/
.form-post{
    width: 625px;
    
}

.post-heading{
    text-align: center;
}

textarea{
    min-height: 300px;
    height: 500px;
    width: 100%;
}

.form-post input[type="text"]{
    width: 100%;
}

/********* Forms Login ***********************/

.submit{
    display: block;
    margin: 1rem auto;
    width: 150px;
    font-weight: 600;
}

.login-container{
    margin: 0 auto;
}

/****** Forms Login ***********************/
.singup,
.login{
    text-align: center;
}

/******* User **************************/
.user-container{
    margin-top: 100px;
}

.user{
    margin-bottom: 50px;
}

.theader{
    text-align: center;
}

/***************** Errors ******************/
.oops{
    font-size: 6rem;
    margin: 0 2rem;
}

.error-message{
    font-size: 3rem;
    margin: 0 auto;
}

/* ************************************
**  Queries  **
***************************************
    ? Extra small devices (portrait phones, less than 576px)
    ! @media (max-width: 575.98px) { ... }

    ? Small devices (landscape phones, 576px and up)
    ! @media (min-width: 576px) and (max-width: 767.98px) { ... }

    ? Medium devices (tablets, 768px and up)
    ! @media (min-width: 768px) and (max-width: 991.98px) { ... }

    ? Large devices (desktops, 992px and up)
    ! @media (min-width: 992px) and (max-width: 1199.98px) { ... }

    ? Extra large devices (large desktops, 1200px and up)
    !@media (min-width: 1200px) { ... }
***************************************
***************************************/
@media (min-width: 992px){
    .main{
        width: 850px;
        margin-left: auto;
        margin-right: auto;
    }

    .submit-login{
        margin-top: 20px;
    }

    .login-input{
        margin-left: 16px;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {
    .nav-item a{
        font-size: 1.2rem;
    }

    .form-edit{
        padding-right: 24px;
        padding-left: 24px;
    }
}

@media (min-width: 768px){
    .cards{
        width: 580px;
    }

    .pros-cons-row{
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        display: flex;
    }

    .pros-container,
    .cons-container{
        min-width: 250px;
        max-width: 375px;
        float: left;
    }

    .cons,
    .pros{
        padding-left: 10px;
        padding-right: 10px;
    }

    .prev-img{
        width: 290px;
    }
    
    .file-input{
        width: 350px;
    }

}

@media (min-width: 768px){}





@media (min-width: 575px) and (max-width: 768px){
    .navbar-brand{
        font-size: 2rem;
    }

    .nav-item a{
        font-size: 1.4rem;
    }
}

@media (min-width: 575px){
    .read-btn{
        /* margin: 0 auto; */
        float:right;
        margin-right: 2rem;
    }

    .read-btn .btn{
        min-width: 120px;
        font-weight: 500;
        letter-spacing: 3px;
    }

    .form-login,
    .form-register{
        width: 405px;
        padding: 24px;
    }

    .form-login .input-group-text,
    .form-register .input-group-text{
        font-weight: 600;
    }

    .form{
        padding: 1rem 3rem 1.5rem 3rem;
    }
}

@media (max-width: 574px) {

/*************** General ***************************/
    .container-fluid{
        padding-left: 8px;
        padding-right: 8px;
    }

    .navbar-brand{
        font-size: 2rem;
    }

    .btn{
        width: 100%;
    }

/****************** Index *******************************/
    .cards{
        padding: 0;
        min-width: 250px;
        max-width: 450px;
    }

    .prev-text,
    .next-text{
        display: none;
    }

/************* Game Review **************************/
    .game-review{
        padding: 20px 8px;
    }

    .pros-cons-row{
        padding-left: .5rem;
        padding-right: .5rem;
    }

    .progress-circle{
        margin-left: 8px !important;
        margin-right: 8px !important;
    }

/*********************************************/
/*********************************************/
    fieldset p{
        padding-left: 10px;
    }

    .form-posting{
        padding: 1rem;
        width: 100%;
        border-radius: 0;
    }

    textarea{
        width: 334px;
    }

    .form-register{
    margin-left: 10px;
    margin-right: 10px;
    }

    .form-register .input-group-text{
        width: 103px;
        font-weight: 600;
    }

/***** Login **********************************/
    .form-login{
        margin-left: 10px;
        margin-right: 10px;

        padding-left: 5px;
        padding-right: 5px;
    }


/******* Edit Review ************************************/
    .custom-file-label{
        line-height: 1.6;
    }

    .custome-input-file{
        height: 100%;
    }


    .edit-container{
        width: 100%;
        margin: 0;
    }

    .custom-file input{
        max-width: 100%;
        height: 50px;

        display: flex;
        flex-wrap: wrap;
    }

    .file-item-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 2px 5px;
    }

    .custome-item{
        width: 100%;
    }

    input[type="file"]{
        width: 100%;
    }

    .icon-file{
        height: 100%;

        padding-top: 15px;
        padding-bottom: 12px;
    }

    .prev-img{
        width: 100%;
    }

    .new-image{
        margin-top: 5px;
    }

/******* Register ************************************/
    .form-register {
        padding-left: 5px;
        padding-right: 5px;
    }
    .form-register button{
        margin-top: 10px ;
        margin-bottom: 10px;
        width: 80%;
    }


}


@media (min-width: 280px) and (max-width: 320px){
    .navbar-expand-sm{
        padding-right: 8px;
        padding-left: 8px;
    }
}
