@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/************************************
font-family: 'Roboto', sans-serif;
font-family: 'Pacifico', cursive;
************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("../img/assetss/background-01.jpg");
    font-family: 'Roboto', sans-serif;
    color: black;
}

header{
    z-index: 1;
}

.navbar{
    background-color: rgb(57,57,57);
}

/******* Base ********************************/

.navbar-brand{
    font-size: 2.5rem;
}

.nav-item a{
    font-size: 1.8rem;
}

main{
    min-height: 500px;
}

footer{
    background-color: rgb(89, 89, 89);
    min-height: 200px;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.je{
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
}

/****** Home ********************************/
.review-container{
    color: white;
}

.cards{
    margin: 2rem auto;
}

.card-tex{
    overflow: hidden;
}

.card-tile{
    margin-top: 10px;
    width: 300px;
    height: 500px;
}

.card-text{
    height: 170px;
    overflow: hidden;
}

.card-author,
.card-date{
    padding-left: 5px;
    padding-right: 5px;
}

.read-btn .btn{
    min-width: 120px;
    font-weight: 500;
    letter-spacing: 2px;
}

.card-body{
    padding: 10px;
}

.card .card-text-container{
    margin-bottom: 10px;
}

.paginatior .btn{
    font-size: 2rem;
}


/***** Reviews *******************************/
.title{
    font-size: 3rem;
}
.author-container{
    padding-top: 1.5rem;
}

.author-post{
    display: inline-block;
    margin-right: auto;
}

.social-networks {
    height: 85px;
    display: inline-block;
    margin-right: auto;
    float: right;
}

.social-networks i{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
}

.game-cover{
    background-size: cover;
    background-position: center center;
    padding: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.game-title,
.game-info{
    background-color: rgba(174, 167, 167, .8);
    letter-spacing: 2px;
}

.game-title{
    height: 100%;
}

.titles{
    height: 100%;
}

.game-info{
    position: relative;
    bottom: 10;

    min-height: 140px;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
}

.game-details{
    padding: 1rem;
    height: 100%;
}

.points-container{
    float: right;
}

.social-media{
    padding-left: auto;
    padding-right: auto;
}

.score{
    font-size: 3rem;
}

.pegi-size{
    height: 100px;
}

.pegi-description,
.pegi-rate,
.pegi-container .square-img,
.gallery .square-img{
    min-height: 100px;
    max-height: 130px;
    min-width: 100px;
    max-width: 130px;

    margin: 5px;
    display: inline-block;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.pegi3{
    background-image: url("https://pegi.info/sites/default/files/styles/medium/public/2017-03/2000px-PEGI_3.svg_.png?itok=v29cXS0R");
}

.pegi7{
    background-image: url("https://pegi.info/sites/default/files/styles/medium/public/2017-03/pegi7.png?itok=eI0Gk8v4");
}

.pegi12{
    background-image: url("https://pegi.info/sites/default/files/styles/medium/public/2017-03/PEGI_12.png?itok=YbTznZS9")
}

.pegi16{
    background-image: url("https://pegi.info/sites/default/files/styles/medium/public/2017-03/pegi16.png?itok=GyBvYeoU")
}
.pegi18{
    background-image: url("https://pegi.info/sites/default/files/styles/medium/public/2017-03/pegi18.png?itok=2iF_eHO6")
}

.pegi-container .square-img{
    height: 100px;
    width: 100px;
}

.pegi-violence{
    background-image: url("https://pegi.info/sites/default/files/inline-images/violence-black-EN.jpg");
}

.pegi-language{
    background-image: url("https://pegi.info/sites/default/files/inline-images/bad-language-black-EN.jpg");
}

.pegi-fear{
    background-image: url("https://pegi.info/sites/default/files/inline-images/fear-black-EN.jpg");
}

.pegi-gambling{
    background-image: url("https://pegi.info/sites/default/files/inline-images/gambling-black-EN.jpg")
}

.pegi-sex{
    background-image: url("https://pegi.info/sites/default/files/inline-images/sexual-content-black-EN.jpg");
}

.pegi-drugs{
    background-image: url("https://pegi.info/sites/default/files/inline-images/drugs-black-EN.jpg");
}

.pegi-discrimination{
    background-image: url("https://pegi.info/sites/default/files/inline-images/discrimination-black-EN.jpg");
}

.pegi-purchase{
    background-image: url("https://pegi.info/sites/default/files/inline-images/discrimination-black-EN.jpg");
}

.gallery .square-img{
    height: 200px;
    width: 200px;
}

.pros-cons-row,
.game-review{
    padding: 3.5rem 10%;
    background-color: white;
    color: black;
}

.game-title-container,
.pros-cons-row,
.game-review,
.carousel,
.pegi-container{
    margin-bottom: 1rem;
    width: 100%;
}

/******* Reviews ******************************/
.game-players,
.game-release,
.game-platform{
    font-weight: 600;
}


.contact-form legend{
    /* color: black; */
    font-size: 2rem;
}

.author-container .fa-facebook-f{
    margin-left: auto; 
}

.edit-post,
.delete-post{
    margin-right: auto;
    margin-left: auto;
}

/*****Edit Post ***********************/
.gallery-label{
    font-weight: 600;
}

.gallery-label > u{
    font-weight: 100;
}

.fa-exclamation-triangle{
    color: red;
}

.icon-file{
    width: 50px;
    height: 30px;

    background-color: rgb(233,236,239);
    border: 1px solid rgb(206,212,218);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

    text-align: center;
    margin-right: 5px;
}

.icon-file i{
    vertical-align: text-bottom;
}

.prev-img{
    height: 30px;
    min-width: 100px;
    width: 80%;
    background-color: rgb(255,255,255);

    padding-left: 5px;
    padding-right: 5px;

    margin-right: 10px;

    vertical-align: sub
}

.file-input{
    background-color: rgb(233,236,239);
    padding: 0 5px;
    margin-left: 10px;
}

.icon-file,
.prev-img,
.file-input{
    display: inline-block;
}

.icon-file,
.file-input{
    position: relative;
    top: 0;
}

.custome-input-file{

    height: 40px;

    background-color: rgb(233,236,239);
    border: 1px solid rgb(206,212,218);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

    padding: 5px 2px;
    
    text-align: center;
}

/********* Form *************************/
.platforms-container,
.description-container{
    padding-left: 35px;
}

.post-heading{
    margin: 1rem auto;
}

.form{
    margin: 0 auto;

    border: white 1px solid;
    
    border-radius: 10px;
    background-color: rgb(241,244,247);
}

.fieldset{
    margin: 1rem auto;
    width: 100%;
}

.send-botton{
    margin: 2rem auto;
}

.spacer{
    height: 150px;
}

/********** Forms Post **/***********************/
.form-post{
    width: 625px;
    
}

.post-heading{
    text-align: center;
}

textarea{
    min-height: 300px;
    height: 500px;
    width: 100%;
}

.form-post input[type="text"]{
    width: 100%;
}

/********* Forms Login ***********************/

.submit{
    display: block;
    margin: 1rem auto;
    width: 150px;
    font-weight: 600;
}

.login-container{
    margin: 0 auto;
}

/****** Forms Login ***********************/
.singup,
.login{
    text-align: center;
}

/******* User **************************/
.user-container{
    margin-top: 100px;
}

.user{
    margin-bottom: 50px;
}

.theader{
    text-align: center;
}

/* ************************************
**  Queries  **
***************************************
    ? Extra small devices (portrait phones, less than 576px)
    ! @media (max-width: 575.98px) { ... }

    ? Small devices (landscape phones, 576px and up)
    ! @media (min-width: 576px) and (max-width: 767.98px) { ... }

    ? Medium devices (tablets, 768px and up)
    ! @media (min-width: 768px) and (max-width: 991.98px) { ... }

    ? Large devices (desktops, 992px and up)
    ! @media (min-width: 992px) and (max-width: 1199.98px) { ... }

    ? Extra large devices (large desktops, 1200px and up)
    !@media (min-width: 1200px) { ... }
***************************************
***************************************/
@media (min-width: 992px){
    .main{
        width: 850px;
        margin-left: auto;
        margin-right: auto;
    }

    .submit-login{
        margin-top: 20px;
    }

    .login-input{
        margin-left: 16px;
    }

}

@media (min-width: 750px) and (max-width: 780px){
    /*Media Query exclusive for iPad*/
    .game-details{
        width: 350px;;
    }
}

@media (min-width: 768px){
    .cards{
        width: 580px;
    }

    .pros-cons-row{
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        display: flex;
    }

    .pros-container,
    .cons-container{
        min-width: 250px;
        max-width: 375px;
        float: left;
    }

    .cons,
    .pros{
        padding-left: 10px;
        padding-right: 10px;
    }

}

@media (min-width: 575px) and (max-width: 768px){
    .navbar-brand{
        font-size: 2rem;
    }

    .nav-item a{
        font-size: 1.4rem;
    }
}

@media (min-width: 575px){
    .read-btn{
        /* margin: 0 auto; */
        float:right;
        margin-right: 2rem;
    }

    .read-btn .btn{
        min-width: 120px;
        font-weight: 500;
        letter-spacing: 3px;
    }

    .form-login,
    .form-register{
        width: 405px;
        padding: 24px;
    }

    .form-login .input-group-text,
    .form-register .input-group-text{
        font-weight: 600;
    }

    .form{
        padding: 1rem 3rem 1.5rem 3rem;
    }
}

@media (max-width: 574px) {

/*************** General ***************************/
    .container-fluid{
        padding-left: 8px;
        padding-right: 8px;
    }

    .navbar-brand{
        font-size: 2rem;
    }

    .btn{
        width: 100%;
    }

/****************** Index *******************************/
.cards{
    padding: 0;
    min-width: 250px;
    max-width: 450px;
}

.prev-text,
.next-text{
    display: none;
}

/************* Game Review **************************/
.game-review{
    padding: 2%;
}

.pros-cons-row{
    padding-left: .5rem;
    padding-right: .5rem;
}

.game-details{
   width: 100%; 
}

.progress-circle{
    margin-left: 5px !important;
    margin-right: 5px !important;
}

/*********************************************/
/*********************************************/
    fieldset p{
        padding-left: 10px;
    }

    .form-posting{
        padding: 1rem;
        width: 100%;
        border-radius: 0;
    }

    textarea{
        width: 334px;
    }

    .form-register{
    margin-left: 10px;
    margin-right: 10px;
    }

    .form-register .input-group-text{
        width: 103px;
        font-weight: 600;
    }

/***** Login **********************************/
.form-login{
    margin-left: 10px;
    margin-right: 10px;

    padding-left: 5px;
    padding-right: 5px;
}


/******* Edit Review ************************************/
    .custom-file-label{
        line-height: 1.6;
    }


    .edit-container{
        width: 100%;
        margin: 0;
    }

    .custom-file input{
        max-width: 240px;
        overflow: hidden;
    }

}

/******* Register ************************************/
.form-register {
    padding-left: 5px;
    padding-right: 5px;
}
.form-register button{
    margin-top: 10px ;
    margin-bottom: 10px;
    width: 80%;
}

@media (min-width: 280px) and (max-width: 320px){
    .navbar-expand-sm{
        padding-right: 8px;
        padding-left: 8px;
    }
}