{% extends 'base.html' %}
{% block content %}

    <form class="form form-contact">
        <legend for="fname" >First Name</legend>
        <input type="text" id="fname">
        <legend></legend>
        <input type="text">
        <legend></legend>
        <input type="text">
        <legend></legend>
        <input type="text">

        <textarea name="message" id="" cols="30" rows="10" placeholder="Leave your message here!"></textarea>
        <input type="submit" value="Submit">
    </form>

{% endblock %}