{% extends 'base.html' %}
{% block title %}Create a new post{% endblock %}
{% block content %}

<form class="form form-post" method="POST" action="{{url_for('update_post', post_id=post._id)}}" enctype="multipart/form-data">
    <div class="row">
    <h2 class="post-heading">Edit Post</h2>
        <fieldset class="fieldset">
        
            <div class="game-title-section row">
            <legend class="post-legend">Game Section</legend>
                <div class="col-12">
                    <label for="post-title">Game Title</label>
                    <input type="text" name="post-title" id="post-title" value="{{ post.post_title }}">
                    <br>
                    <br>
                    <label for="post-subtitle">Game Title</label>
                    <input type="text" name="post-subtitle" id="post-subtitle" value="{{ post.post_subtitle }}">
                    <br>
                    <br>
                    <label for="release-date">Game Release: </label>
                    <input type="date" name="release-date" value="{{ post.release_date.strftime('%Y-%m-%d') }}">
                    <br>
                    <label for="post-cover">Cover Picture: {{ post.post_cover }}</label><br>
                    <input type="file" name="post-cover" id="post-cover">
                    <hr>
                    <label for="no_players">Number of playes:</label>
                    <input type="number" name="no_players" id="no-players" min="1" max="16" value="{{ post.no_players }}">
                    
                    <label for="score">Game Score: </label>
                    <input type="number" name="game_score" id="game-score" min="0" max="100" value="{{ post.game_score }}">
                </div>
            </div>
            
            <hr>
            
            <div class="platform col-lg-6 col-md-6">
                <legend>Platfforms:</legend>
                <div class="platforms form-group">
                    {% for platform in platforms %}
                        {% if platform in post.game_platform %}
                            <input type="checkbox" class="form-check-input" name="platform" value="{{platform}}" checked>
                        {% else %}
                            <input type="checkbox" class="form-check-input" name="platform" value="{{platform}}" >
                        {% endif %}
                            <label for="nwii">{{platform}}</label>
                        </br>
                    {% endfor %}
                </div>
            </div>

            <hr>

            <div class="pegi-description col-md-6 col-lg-6">
                <legend>Pegi Description</legend>
                <div class="description-container form-group">
                    {% for pegi in pegi_description %}
                        <input type="checkbox" class="form-check-input" name="pegi_description" value="{{pegi}}" id="{{pegi}}"><label class="" for="{{pegi}}">{{pegi_description[pegi]}}</label></br>
                    {% endfor %}
                </div>
            </div>

            <hr>

            <legend class="post-legend">Load 5 pictures for the post</legend>
            <p>Select five pictres for the review's gallery</p>
            <div class="col-12">
                <label for="gallery-1">Picture 1 </label>
                <input type="file" name="gallery_1" id="gallery-1" >
                <br>
                <label for="gallery-2">Picture 2 </label>
                <input type="file" name="gallery_2" id="gallery-2" >
                <br>
                <label for="gallery-3">Picture 3</label>
                <input type="file" name="gallery_3" id="gallery-3" >
                <br>
                <label for="gallery-4">Picture 4</label>
                <input type="file" name="gallery_4" id="gallery-4" >
                <br>
                <label for="gallery-5">Picture 5</label>
                <input type="file" name="gallery_5" id="gallery-5" value="{ post.gallery_5 }">
                <br>
            </div>
            <hr>
            <legend>Review Section</legend>
            <div class="col-12">
                <label for="pros" class="post-pros">Pros</label>
                <textarea name="post-pros" id="pros" class="pros">{{ post.pros_content }}</textarea>
                <label for="cons" class="post-cons">Cons</label>
                <textarea name="post-cons" id="cons" class="cons">{{ post.cons_content }}</textarea>
                <label for="post-review" class="post-review">Review</label>
                <textarea name="post-review" id="post-review" class="post-review">{{ post.post_review }}</textarea>
            </div>

            
        </fieldset>

        <div class="col-12">
            <input type="submit" value="Update" class="submit btn btn-success">
        </div>
        
    </div>
</form>

<div class="spacer col-12"></div>

{% endblock %}
