{% extends 'base.html' %}
{% block title %}Pagina principal{% endblock %}
{#% from "macros.html" import pagination %#}


{% block content %}
<div class="container-fluid">
    <!-- <div class="row-cards-container"> -->
    {% for post in posts %}
        <div class="card cards text-dark">
            <a href="{{url_for('game_review', review_id=post._id)}}">
                <img class="card-img-top" src="{{url_for('upload', filename=post.post_cover)}}"
                        alt="{{ post.post_title }}">
            </a>
            <div class="card-body" style="overflow: hidden;">
                <h5 class="card-title">
                    <a href="{{url_for('game_review', review_id=post._id)}}">
                        {{ post.post_title }}
                        {% if post.post_subtitle %}-{% endif %}
                        {{ post.post_subtitle }}

                    </a>
                </h5>
                <div class="card-text card-text-container">{{ post.post_review|truncate(530)|striptags}}</div>
                <small class="footer-card">
                    <strong>Posted by:</strong>
                    <span class="card-author">{{ post.posted_by|capitalize }}</span>
                    <strong>-</strong>
                    <span class="card-date">{{post.date_posted.strftime('%d/%b/%Y') }}</span>
                </small>
                <div class="read-btn">
                    <a href="{{url_for('game_review', review_id=post._id)}}"
                    class="btn btn-primary">
                        Read more
                    </a>
                </div>
                
            </div>
        </div>
    {% endfor %}
    
    <div class="paginatior d-flex justify-content-between">
        {#{ prev_url }#}
        {% if prev_url == 0 %}
            <a href="{{ url_for('index' ) }}?page={{ prev_url }}" class="prev btn text-white" style="display: none;">
        {% else %}
            <a href="{{ url_for('index' ) }}?page={{ prev_url }}" class="prev btn text-white">
        {% endif %}
            <i class="fas fa-arrow-circle-left"></i>
            <span class="prev-text">&nbsp;Prev</span>
        </a>

        {% for page in range(pages) %}
        <a href="{{ url_for('index' ) }}?page={{page+1}}" class="btn text-white">
            {{page + 1}}
        </a>
        {% endfor %}

        {% if next_url >= pages %}
            <a href="{{ url_for('index') }}?page={{ next_url }}" class="next btn text-white" disabled>
        {% else %}
            <a href="{{ url_for('index') }}?page={{ next_url }}" class="next btn text-white">
        {% endif %}
            <span class="next-text">Next&nbsp;</span>
            <i class="fas fa-arrow-circle-right"></i>
        </a>
        {#{ next_url }#}
    </div>   
    
</div>
{% endblock %}