{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="spacer-top col-12"></div>

    <form class="form form-login form-group login-container" method="POST" action="{{url_for('login')}}">
            <legend class="login">Login</legend>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label for="username" class="input-group-text" id="basic-addon1">username@</label>
                    
                </div>
                <input type="text" name="username" id="username" placeholder="Username" class="form-control"/>
            </div>
            <br>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label for="password" class="input-group-text">Password: </label>
                    
                </div>
                <input type="password" name="password" id="password" placeholder="password" class="form-control"/>
            </div>
            <br>
            <div class="submit-container">
                <button type="submit" class="submit submit-login btn btn-success">Lets go!</button>
            </div>
    </form>
    
    <div class="spacer-bottom col-12"></div>
{% endblock %}
