{% extends 'base.html' %}
{% block title %}Create a new post{% endblock %}
{% block content %}

<h2 class="post-heading">Review Post</h2>
<form class="form form-post" method="POST" action="{{url_for('post_review')}}" enctype="multipart/form-data">
    <div class="row">
        <fieldset class="fieldset">
        
            <div class="game-title-section row">
            <legend class="post-legend">Game Section</legend>
                <div class="col-12">
                    <label for="post-title">Game Title</label>
                    <input type="text" name="post-title" id="post-title">
                    <br>
                    <br>
                    <label for="post-subtitle">Game Title</label>
                    <input type="text" name="post-subtitle" id="post-subtitle">
                    <br>
                    <br>
                    <label for="release-date">Game Release: </label>
                    <input type="date" name="release-date">
                    <br>
                    <label for="post-cover">Cover Picture</label>
                    <input type="file" name="post-cover" id="post-cover">
                    <hr>
                    <label for="no_players">Number of playes:</label>
                    <input type="number" name="no_players" id="no-players" min="1" max="16">
                    
                    <label for="score">Game Score: </label>
                    <input type="number" name="game_score" id="game-score" min="0" max="100">
                </div>
            </div>
            
            <hr>
            
            <div class="pegi-field row">
                <legend for="plattform">Platfforms:</legend>
                <div class="plattform col-4">
                    {% for platform in platforms %}
                        <input type="checkbox" name="platform" value="{{platform}}" id="{{platform}}"><label for="{{platform}}">{{platform}}</label></br>
                    {% endfor %}
                </div>
            </div>

            <hr>

            <div class="pegi-description row">
                <legend>Pegi Description</legend>
                <div class="description-container col-4">
                    {% for pegi in pegi_desc %}
                        <input type="checkbox" name="pegi-desc" value="{{pegi}}" id="{{pegi}}"><label for="{{pegi}}">{{pegi_desc[pegi]}}</label></br>
                    {% endfor %}
                </div>

            </div>

            <hr>

            <legend class="post-legend">Load 5 pictures for the post</legend>
            <p>Select five pictres for the review's gallery</p>
            <div class="col-12">
                <label for="gallery-1">Picture 1 </label>
                <input type="file" name="gallery_1" id="gallery-1" >
                <br>
                <label for="gallery-2">Picture 2 </label>
                <input type="file" name="gallery_2" id="gallery-2" >
                <br>
                <label for="gallery-3">Picture 3</label>
                <input type="file" name="gallery_3" id="gallery-3" >
                <br>
                <label for="gallery-4">Picture 4</label>
                <input type="file" name="gallery_4" id="gallery-4" >
                <br>
                <label for="gallery-5">Picture 5</label>
                <input type="file" name="gallery_5" id="gallery-5" >
                <br>
            </div>
            <hr>
            <legend>Review Section</legend>
            <div class="col-12">
                <label for="pros" class="post-pros">Pros</label>
                <textarea name="post-pros" id="pros" class="pros"></textarea>
                <label for="cons" class="post-cons">Cons</label>
                <textarea name="post-cons" id="cons" class="cons"></textarea>
                <label for="post-review" class="post-review">Review</label>
                <textarea name="post-review" id="post-review" class="post-review"></textarea>
            </div>

            
        </fieldset>

        <div class="col-12">
            <input type="submit" value="Submit" class="submit btn btn-success">
        </div>
        
    </div>
</form>

<div class="spacer col-12"></div>

{% endblock %}
