{% extends 'base.html' %}
{% block title %}Create a new post{% endblock %}
{% block content %}
<div class="container">
    <form class="form form-posting" method="POST" action="{{url_for('post_review')}}" enctype="multipart/form-data">
        <fieldset class="fieldset">
            <div class="row">
                <div class="col-12">
                    <h2 class="post-heading">
                        <i class="far fa-newspaper"></i>New Review
                    </h2>
                    <legend class="post-legend">
                        <i class="fas fa-gamepad"></i>Game Section
                    </legend>
                </div>
                <div class="input-group mb-3 col-12">
                    <div class="input-group-prepend">
                        <label for="post-title" class="input-group-text">
                            <i class="fas fa-gamepad"></i>Title
                        </label>
                    </div>
                    <input type="text" class="form-control" name="post-title" id="post-title" placeholder="Game title" required>
                </div>

                <div class="input-group mb-3 col-12">
                    <div class="input-group-prepend">
                        <label for="post-title" class="input-group-text">
                            <i class="fas fa-gamepad"></i>Subtitle
                        </label>
                    </div>
                    <input type="text" class="form-control" name="post-subtitle" id="post-subtitle" placeholder="Game Subtitle">
                </div>
            </div>

            <div class="row">
                <div class="input-group mb-3 col-md-6 col-lg-5">                           
                    <div class="input-group-prepend">
                        <label for="release-date" class="input-group-text" id="inputGroupFileAddon01">
                            <i class="far fa-calendar-plus"></i>Release: 
                        </label>
                    </div>
                    <div class="custom-file">
                        <input type="date" class="form-control release-on-post" name="release-date" required>
                    </div>
                </div>
                
                <div class="input-group mb-3 col-md-6 col-lg-3">
                    <label for="no_players" class="input-group-text"style="margin: 0;">
                        <i class="fas fa-gamepad"></i>Players</label>
                    <input type="number" class="form-control" name="no_players"
                    id="no-players" min="1" max="16" placeholder=" 1 - 16" required>
                </div>

                <div class="input-group score-container mb-3 col-md-6 col-lg-4">
                    <div class="input-group-prepend">
                        <label for="score" class="input-group-text">
                            <i class="fas fa-star-half-alt"></i>Score
                        </label>
                    </div>
                    <input type="number" class="form-control" name="game_score"
                    id="game-score" min="0" max="100" placeholder="0-100" required>
                </div>
            </div>

            <hr>
            
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <legend for="plattform" class="form-check-label">
                        <i class="fas fa-th-large"></i>Platforms</legend>
                    <div class="platforms-container form-group">
                        {% for platform in platforms %}
                            <input type="checkbox" class="form-check-input" name="platform" value="{{platform}}" id="{{platform}}">
                            <label for="{{platform}}">{{platform}}</label>
                            </br>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <legend>
                        <i class="fas fa-list"></i>Pegi Description
                    </legend>
                    <div class="description-container form-group">
                        {% for pegi in pegi_desc %}
                            <input type="checkbox" class="form-check-input" name="pegi-desc" value="{{pegi}}" id="{{pegi}}">
                            <label class="" for="{{pegi}}">{{pegi_desc[pegi]}}</label>
                            </br>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <legend><i class="fas fa-percent"></i>Pegi Rate</legend>
                    <div class="description-container form-group">
                        {% for pegi_r in pegi_rate %}
                            <input type="radio" class="form-check-input" name="pegi-rate" value="{{pegi_r}}" id="{{pegi_r}}">
                            <label class="" for="{{pegi_r}}">{{pegi_r}}</label>
                            </br>
                        {% endfor %}
                    </div>
                </div>
            </div>
            
            <hr>

            <div class="row">
                <div class="form-group col-lg-12">
                    <legend class="post-legend">
                        <i class="fas fa-photo-video"></i>Gallery section
                    </legend>
                    <p>Select one image for your cover and 5 more that will be shown on the gallery.</p>
                    <p><i class="fas fa-exclamation-triangle"></i>Attentio!</p>
                        <ul class="post-list">
                            <li>
                                 Due to the nature of mongoDB when saving images, it can confused the images already stored and 
                        still to be stored because of the name given on each image, causing that some of posts displaying wrong images.
                            </li>
                            <li>
                                Make sure each image are named according to the game title and subtitle, and not just a simple numbre, like -<u>01.jpg</u>- as example.
                            </li>
                        </ul>                 
                </div>

                <div class="input-group mb-3 col-lg-6">
                    <div class="input-group-prepend">
                        <span class="input-group-text" for="post-cover">
                            <i class="fas fa-file-image"></i>
                        </span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="post_cover"  id="post-cover"
                        aria-describedby="inputGroupFileAddon01" accept="image/png, image/jpeg" required>
                        <label class="custom-file-label" for="post_over">Cover Image</label>
                    </div>
                </div>

                <div class="input-group mb-3 col-lg-6">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01"><i class="fas fa-file-image"></i></span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="gallery_1"  id="gallery-1"
                        aria-describedby="gallery-1" accept="image/png, image/jpeg" required>
                        <label class="custom-file-label" for="gallery-1">Image 1</label>
                    </div>
                </div>

                <div class="input-group mb-3 col-lg-6">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon02"><i class="fas fa-file-image"></i></span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="gallery_2"  id="gallery-2"
                        aria-describedby="inputGroupFileAddon02" accept="image/png, image/jpeg" required>
                        <label class="custom-file-label" for="gallery-2">Image 2</label>
                    </div>
                </div>

                <div class="input-group mb-3 col-lg-6">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01"><i class="fas fa-file-image"></i></span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="gallery_3"  id="gallery-3"
                        aria-describedby="gallery-3" accept="image/png, image/jpeg" required>
                        <label class="custom-file-label" for="gallery-3">Image 3</label>
                    </div>
                </div>

                <div class="input-group mb-3 col-lg-6">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01"><i class="fas fa-file-image"></i></span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="gallery_4"  id="gallery-4"
                        aria-describedby="gallery-4" accept="image/png, image/jpeg" required>
                        <label class="custom-file-label" for="gallery-4">Image 4</label>
                    </div>
                </div>

                <div class="input-group mb-3 col-lg-6">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01"><i class="fas fa-file-image"></i></span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="gallery_5"  id="gallery-5"
                        aria-describedby="gallery-5" accept="image/png, image/jpeg" required>
                        <label class="custom-file-label" for="gallery-5">Image 5</label>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12 form-group">
                    <legend>
                        <i class="fas fa-file-word"></i>Review Section
                    </legend>
                </div>
                <div class="col-lg-6 mb-3">
                    <label for="pros" class="post-pros input-group-text">
                        <i class="fas fa-thumbs-up"></i>Pros
                    </label>
                    <textarea name="post-pros" class="form-control" id="pros" class="pros" placeholder="What has been so good when playing this game?" required></textarea>                    
                </div>
                <div class="col-lg-6 mb-3">
                    <label for="cons" class="post-cons input-group-text">
                        <i class="fas fa-thumbs-down"></i>Cons
                    </label>
                    <textarea name="post-cons" class="form-control" id="cons" class="cons" placeholder="What has been the bad when playing this game?" required></textarea>                    
                </div>

                <div class="col-12 mb-3">
                    <p>
                        <i class="fas fa-file-code"></i>Html friendly: Give a go to your Html skills and add your owen spice to your post.
                    </p>
                    <label for="post-review" class="post-review input-group-text">
                        <i class="far fa-file-alt"></i>Review
                    </label>
                    <textarea name="post-review" class="form-control" id="post-review" class="post-review" 
                    placeholder="Write here your review about the game you want to talk about, dont forget you can add your own spice with your web development skills." required></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-12 form-group">
                    <button type="submit" class="form-control submit btn btn-success">Submit</button>
                </div>
            </div>
             
        </fieldset>
    </form>

    <div class="spacer col-12"></div>
</div>
{% endblock %}
