{% extends 'base.html' %}
{% block title %}Register{% endblock %}

{% block content %}

<div class="spacer-top col-12"></div>

<form class="form form-register form-group" action="{{url_for('register')}}" method="POST">
    <legend class="singup">Signup</legend>
    <br>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label for="username" class="input-group-text">Username: </label>
        </div>
            <input type="text" id="username" name="username" class="form-control">
    </div>
    <br>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label for="email" class="input-group-text">Email: </label>
        </div>
        <input type="email" id="email" name="email" class="form-control">
    </div>
    <br>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label for="password" class="input-group-text">Password: </label>
        </div>
        <input type="password" name="password" id="password" class="form-control">
    </div>
    <br>
    <button type="submit" value="Submit" class="btn btn-success">Submit</button>
</form>

<div class="spacer-bottom col-12"></div>
{% endblock %}